@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  padding: 0;
  margin: 0;
}
:root {
  --bg: #00d8d6;
  --color: #485460;
}

body {
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: #fff;
}

.card {
  width: 18rem;
}

.card img {
  max-width: 100%;
}

.line {
  margin-top: 1rem;
  height: 1px;
  background: #000;
  width: 100%;
}
.card span {
  font-size: 1.8rem;
}
